<!DOCTYPE HTML>
<html>
	<head>
		@await Html.PartialAsync("MetatagsPartial")
		@await Html.PartialAsync("CssPartial")
	</head>
	<body>
		@await Html.PartialAsync("HeaderPartial")
		<!-- Main -->
		@RenderBody()
		@await Html.PartialAsync("FooterPartial")
		<!-- Scripts -->
		@await Html.PartialAsync("ScriptsPartial")
	</body>
</html>