<!-- ...::: Strat Footer Section - Footer Dark :::... -->
<footer class="footer-section footer-section-style-2 section-top-gap-120">
    <div class="box-wrapper">
        <div class="footer-wrapper section-fluid-270">
            <div class="container-fluid">
                <!-- Start Footer Top  -->
                <div class="footer-top">
                    <div class="footer-top-left">
                        <div class="footer-contact-items">
                            <a class="icon-left"><img class="icon-svg" src="assets/images/icons/icon-ios-call-dark.svg" alt="">бИСТ-214 Забурдяев Никита</a>
                            <a class="icon-left"><img class="icon-svg" src="assets/images/icons/icon-mail-open-dark.svg" alt="">ИС "Аренда помещений"</a>
                        </div>
                    </div>
                </div>
                <!-- End Footer Top  -->
            </div>
        </div>
    </div>
</footer>
<!-- ...::: End Footer Section Section - Footer Dark :::... -->

<!-- Scroll To button -->
<div id="scroll-to-top" class="scroll-to-top"><span class="material-icons-outlined">expand_less</span></div>