@{

}
<!-- .....:::::: Start Header Section - Dark Header :::::.... -->
<header class="header-section pos-absolute dark-bg sticky-header d-none d-lg-block section-fluid-270 bg-primary">
    <div class="header-wrapper pos-relative">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <!-- Start Header Logo -->
                    <a href="index.html" class="header-logo">
                        <img class="img-fluid" src="assets/images/logo/logo-dark-theme.png" alt="">
                    </a>
                    <!-- End Header Logo -->
                </div>
                <div class="col-auto">
                    <div class="header-action">
                         <a asp-action="Index" asp-controller="Profile">Профиль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- .....:::::: End Header Section - Dark Header :::::.... -->

<!-- ...::: Strat Breadcrumb Section :::... -->
<div class="breadcrumb-section">
    <div class="box-wrapper">
        <div class="breadcrumb-wrapper breadcrumb-wrapper--style-1 pos-relative">
        </div>
    </div>
</div>
<!-- ...::: End Breadcrumb Section :::... -->