@{
    int userId = int.Parse(User.Identity!.Name!);
}
<!-- .....:::::: Start Header Section - Dark Header :::::.... -->
<header class="header-section pos-absolute dark-bg sticky-header d-none d-lg-block section-fluid-270 bg-primary">
    <div class="header-wrapper pos-relative">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <!-- Start Header Logo -->
                    <a href="index.html" class="header-logo">
                        <img class="img-fluid" src="assets/images/logo/logo-dark-theme.png" alt="">
                    </a>
                    <!-- End Header Logo -->
                </div>
                <div class="col-auto">
                    <div class="header-action">
                         
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-action">
                        <a asp-action="Message" asp-controller="Home" class="header-action-item header-action-wishlist"><img src="~/images/icons/envelope.png" alt=""><span class="count-tag"> @await Component.InvokeAsync("Message", new { userId = userId})</span></a>
                        <a asp-action="Index" asp-controller="Profile" class="header-action-item header-action-wishlist"><img src="~/images/icons/user.png" alt=""></a>
                        <a asp-action="Logout" asp-controller="Account" class="header-action-item header-action-wishlist"><img src="~/images/icons/exit.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- .....:::::: End Header Section - Dark Header :::::.... -->

<!-- ...::: Strat Breadcrumb Section :::... -->
<div class="breadcrumb-section">
    <div class="box-wrapper">
        <div class="breadcrumb-wrapper breadcrumb-wrapper--style-1 pos-relative">
        </div>
    </div>
</div>
<!-- ...::: End Breadcrumb Section :::... -->