<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="robots" content="noindex, follow" />
@if(ViewBag.Title != null){
    <title>@ViewBag.Title</title>
}
else{
    <title>@Config.Name</title>
}
@if(ViewBag.Description != null){
    <meta name="description" content="@ViewBag.Description" />
}
@if(ViewBag.Keywords != null){
    <meta name="keywords" content="@ViewBag.Keywords" />
}