/*************************************
* Pages - Shop
**************************************/

.product-shop-filter-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.prduct-item-traking{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.prduct-item-filter{
    .nice-select{
        border: none;
        background: #F7F8F1;
        border-radius: 5px;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 14px;
        padding-right: 38px;
        height: 36px;

        &::after{
            border: none;
            content: "\e5c5";
            font-family: 'Material Icons Outlined';
            top: 0;
            transform: rotate(0) translateY(-50%);
            height: 0; 
            margin-top: 0;
            right: 24px;
            
        }
    }
}