@{
}
<div class="customer-login section-fluid-270 section-top-gap-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="account_form register">
                    <h2>Регистрация</h2>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-30">
                        @await Html.PartialAsync("Create/UserPartial", new User(), new ViewDataDictionary(ViewData) { { "Controller", "Account" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

