<!DOCTYPE HTML>
<html>
	<head>
		@await Html.PartialAsync("MetatagsPartial")
		@await Html.PartialAsync("CssPartial")
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="~/images/logo.ico" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/admin-style.css" type="text/css" media="all" />
	</head>
	<body>
		
		<!-- Main -->
		<div class="container-fluid" style="padding: 0; margin: 0;">
			<div class="row">
				<div class="col-sm-12 col-md-3 col-lg-3">
					<div class="dashboard_tab_button">
						@await Html.PartialAsync("SidebarPartial")
					</div>
				</div>
				<div class="col-sm-12 col-md-9 col-lg-9 mb-50">
					@RenderBody()
				</div>
			</div>
		</div>
		<!-- Scripts -->
		@await Html.PartialAsync("ScriptsPartial")
		<script type="text/javascript" src="~/js/admin/jquery.js"></script>
		<script type="text/javascript" src="~/js/admin/bootstrap.min.js"></script>
		<script type="text/javascript" src="~/js/admin/script.js"></script>
	</body>
</html>