@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">

<head>
    @await Html.PartialAsync("MetatagsPartial")
  @await Html.PartialAsync("CssPartial")

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Martup - Multipurpose eCommerce HTML Template</title>
  <link rel="icon" type="image/x-icon" href="~/images/logo.ico" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="~/css/admin-style.css" type="text/css" media="all" />



</head>

<body>
    <div class="body-wrapper container-fluid p-0">
        <!-- nav area -->
        @await Html.PartialAsync("SidebarPartial")

        <!-- content area -->
        <div class="content-wrapper" id="content">
          <div class="doc-hero-wrap">
            <div class="hero-wrap-inner">
              <h2 class="title">Админка</h2>
            </div>
          </div>

          <!-- Getting start -->
        <div class="content-section" id="users" style="display: block;">
            <div class="table_page table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Город</th>
                        <th>Район</th>
                        <th>Улица</th>
                        <th>Дом</th>
                        <th>Арендуется</th>
                        <th>Страница</th>
                        <th>Изменение</th>
                        <th>Удаление</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        
    </div>
        </div>
        <div class="content-section" id="placements">
            <table>
                <thead>
                    <tr>
                        <th>Город</th>
                        <th>Район</th>
                        <th>Улица</th>
                        <th>Дом</th>
                        <th>Арендуется</th>
                        <th>Страница</th>
                        <th>Изменение</th>
                        <th>Удаление</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </div>
    </div>
  <!-- body-wrapper -->
  <script type="text/javascript" src="~/js/admin/jquery.js"></script>
  <script type="text/javascript" src="~/js/admin/bootstrap.min.js"></script>
  <script type="text/javascript" src="~/js/admin/script.js"></script>
</body>

</html>