<div class="body-wrapper container-fluid p-0">
    <!-- content area -->
    <div class="content-wrapper" id="content">
        <div class="doc-hero-wrap">
            <div class="hero-wrap-inner">
                <h2 class="title">Админка</h2>
            </div>
        </div>
            <!-- Getting start -->
        <div class="content-section" id="users" style="display: block;">
            <div class="table_page table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Город</th>
                        <th>Район</th>
                        <th>Улица</th>
                        <th>Дом</th>
                        <th>Арендуется</th>
                        <th>Страница</th>
                        <th>Изменение</th>
                        <th>Удаление</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
