@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="nav-wrapper">
    <div class="logo-wrapper">
    <div class="logo-img">
        <a asp-action="Index" asp-controller="Admin"><img src="~/images/logo_32.png" alt=""></a>
    </div>
    </div>
    <div class="navigation" id="nav">
        <div class="nav-item active">
            <a class="nav-item-title" asp-action="Users" asp-controller="Admin"><i class="fa fa-users" aria-hidden="true"></i>Пользователи</a>
        </div>
        <div class="nav-item">
            <a class="nav-item-title" asp-action="Placements" asp-controller="Admin"><i class="fa fa-building" aria-hidden="true"></i>Помещения</a>
        </div>
        <div class="nav-item">
            <a class="nav-item-title" asp-action="Deals" asp-controller="Admin"><i class="fa fa-file" aria-hidden="true"></i>Договоры</a>
        </div>
        <div class="nav-item">
            <a asp-action="Index" asp-controller="Admin" class="nav-item-title" ><i class="fa fa-user" aria-hidden="true"></i>Профиль</a>
        </div>
        <div class="nav-item">
            <a asp-action="Logout" asp-controller="Account" class="nav-item-title"><i class="fa fa-sign-out" aria-hidden="true"></i>Выход</a>
        </div>
    </div>
</div>