@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="nav-wrapper">
    <div class="logo-wrapper">
    <div class="logo-img">
        <img src="~/images/logo_32.png" alt="">
    </div>
    </div>
    <div class="navigation" id="nav">
    <div class="nav-item active">
        <a class="nav-list-item"><i class="fa fa-play"></i>Пользователи</a>
        <div class="sub-nav">
            <a class="sub-nav-item active" href="#users">Таблица всех пользователей</a>
        </div>
    </div>
    <div class="nav-item">
        <a class="nav-list-item"><i class="fa fa-upload"></i>Помещения</a>
        <div class="sub-nav">
        <a class="sub-nav-item" href="#placements">Таблица всех помещений</a>
        </div>
    </div>
    <div class="nav-item">
        <a class="nav-list-item"><i class="fa fa-folder-o" href="#folder-structure"></i>Договоры</a>
        <div class="sub-nav">
        <a class="sub-nav-item" href="#root-folder-structure">Таблица всех договоров</a>
        </div>
    </div>
    <div class="nav-item">
        <a class="nav-list-item"><i class="fa fa-folder-o" href="#folder-structure"></i>Профиль</a>
        <div class="sub-nav">
        <a class="sub-nav-item" href="#root-folder-structure">Профиль администратора</a>
        </div>
    </div>
    </div>
</div>