//=======================
// Developer Variable
//=======================

// Font Family
$font-lato: 'Lato', sans-serif;
$heading-font: $font-lato;
$body-font: $font-lato;



// Transition
$baseTransition: all .5s ease;

// Colors
$white: #fff;
$black: #000;

$bodyColor: #111111;
$themeColor: #264653;
$headingColor: #1D3557;
$secondaryColor: #457B9D;

$borderColor:  #eee;


$colorOrange: #E76F51;
$colorTomatoRed: #e76f51;
$colorRed: #e63946;
$colorLightLemon: #f1faee;
$colorLightGreen: #2a9d8f;
$colorAqua: #a8dadc;
$colorLightYellow: #e9c46a;
$colorGray: #f5f5fc;
$colorGray-2: #f5f9ff;