.tag-link{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;
    li{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    a{
        display: inline-block;
        background: #F1FAEE;
        color: #1D3557;
        font-size: 12px;
        font-weight: 300;
        padding: 10px 30px;
        border-radius: 30px;

        &:hover{
            color: $white;
            background: #1D3557;
        }
    }
}