@model RentalOfPremises.Models.Placement
@{
    int physicalEntityId = int.Parse(@ViewBag.UserId);
    Console.WriteLine("User id in view:" + physicalEntityId);
}
<div class="customer-login section-fluid-270 section-top-gap-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="account_form">
                    <h3>Добавление нового помещения</h3>
                     @await Html.PartialAsync("Create/PlacementPartial", new Placement(), new ViewDataDictionary(ViewData) { { "Controller", "Placement" }, { "PhysicalEntityId", @ViewBag.UserId } });
                </div>
            </div>
        </div>
    </div>
</div>
