@model RentalOfPremises.Models.Placement
<div class="customer-login section-fluid-270 section-top-gap-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="account_form">
                    <h3>Изменение данных о помещение</h3>
                     @await Html.PartialAsync("Update/PlacementPartial", @Model, new ViewDataDictionary(ViewData) { { "Controller", "Placement" } });
                </div>
            </div>
        </div>
    </div>
</div>


