@{

}
<div class="faq-section section-fluid-270 section-top-gap-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="faq-content">
                    <h3 class="title">Заявки на аренду помешений</h3>
                </div>
            </div>
        </div>
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="faq-accordian">
                        <div class="faq-accordian-single-item">
                            <form>
                                <input id="item-1" name="accordian-item" type="radio" checked="">
                                <label for="item-1">Иванов И. хочет арендовать у вас помещение</label>
                                <div class="item-content">
                                    <p>Помещение: г.Воронеж ул.Шишкова 146в</p>
                                    <p>Дата аренды: с 14.05.2023 до 25.07.2023</p>
                                    <p>Вид деятельности: кофейня</p>
                                    <p>Ремонт: нет</p>
                                    <p>
                                        <button class="btn btn-sm btn-radius btn-default mb-4" type="submit">Заключить договор</button>
                                        <button class="btn btn-sm btn-radius btn-default mb-4" type="submit">Отклонить</button>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="faq-accordian-single-item">
                            <form>
                                <input id="item-1" name="accordian-item" type="radio" checked="">
                                <label for="item-1">Иванов И. хочет арендовать у вас помещение</label>
                                <div class="item-content">
                                    <p>Помещение: г.Воронеж ул.Шишкова 146в</p>
                                    <p>Дата аренды: с 14.05.2023 до 25.07.2023</p>
                                    <p>Вид деятельности: кофейня</p>
                                    <p>Ремонт: нет</p>
                                    <button class="btn btn-sm btn-radius btn-default mb-4" type="submit">Заключить договор</button>
                                    <button class="btn btn-sm btn-radius btn-default mb-4" type="submit">Отклонить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 